<div class="formcontact">
    <form>
        <div class="mb-3 ">

            <input type="text" placeholder="Name*" class="form-control" >

        </div>
        <div class="mb-3 ">

            <input type="text" placeholder="Email*" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3 ">
           
            <input type="number" placeholder="Mobile Number*" class="form-control" >
        </div>
        
        <div class="mb-3 ">
            <textarea placeholder="Message*" style="width: 100vw;"></textarea>
        </div>
        <button type="submit" class="btn btn-primary " style="margin-left: 750px;">Submit</button>
    </form>
</div>