<!-- 
    <img src="../../assets/istockphoto-1295479191-170667a.jpg">
    <img src="../../assets/bigstock-Internet-Of-Things-Iot-Conce-413663834-818x471.jpg">
    <img src="../../assets/960x0.jpg">


 -->
<div style="float: left;">
<div class="card card-content">
    <img src="../../assets/istockphoto-1295479191-170667a.jpg" class="card-img-top image_size" alt="...">

</div>
<div class="card card-content">
    <img src="../../assets/bigstock-Internet-Of-Things-Iot-Conce-413663834-818x471.jpg" class="card-img-top image_size"
        alt="...">

</div>
<div class="card card-content">
    <img src="../../assets/960x0.jpg" class="card-img-top image_size" alt="...">

</div>
</div>
<div class="homecontent">Gadgeon is a new-gen technology consultancy and engineering services company enabling customer’s digital journey.
    Gadgeon is dedicated to building solid software systems that creates business value for enterprises. Our services
    include Product engineering, IoT Engineering, Embedded systems – hardware & Firmware, Enterprise application –
    integration & modernization, Full stack development, cloud & Mobile app development, data analytics with AI & ML,
    testing & automation, and Professional services. Gadgeon enables our customers to fully focus on high impact
    business transformation initiatives while the extended team from Gadgeon takes care of all engineering and
    operational activities</div>