<div class="card card1" style="width: 18rem;">
    <img src="../../assets/iot-solutions-500x500.jpg" class="card-img-top card-img" alt="...">
    <div class="card-body">
        <h5 class="card-title">IOT Solutions</h5>
        <p class="card-text">We take complete ownership in all areas of Embedded Systems from hardware design, firmware
            design & development, proto build, firmware integration, test & validation and manufacturing tests &
            certifications.

            We develop prototypes that are as reliable as working products. We help our customers engineering teams to
            identify and use the latest technologies in their products. We contribute to whole product development as
            well as sub-system development.</p>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
</div>
<div class="card card1" style="width: 18rem;">
    <img src="../../assets/1449336941-iiotarch-1000x536.jpg" class="card-img-top card-img" alt="...">
    <div class="card-body">
        <h5 class="card-title">Industrial IOT</h5>
        <p class="card-text">We take complete ownership in all areas of Embedded Systems from hardware design, firmware
            design & development, proto build, firmware integration, test & validation and manufacturing tests &
            certifications.

            We develop prototypes that are as reliable as working products. We help our customers engineering teams to
            identify and use the latest technologies in their products. We contribute to whole product development as
            well as sub-system development.</p>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
</div>
<div class="card card1" style="width: 18rem;">
    <img src="../../assets/shutterstock_cpu_processor_abstract.jpg" class="card-img-top card-img" alt="...">
    <div class="card-body">
        <h5 class="card-title">Embedded Systems</h5>
        <p class="card-text">We take complete ownership in all areas of Embedded Systems from hardware design, firmware
            design & development, proto build, firmware integration, test & validation and manufacturing tests &
            certifications.

            We develop prototypes that are as reliable as working products. We help our customers engineering teams to
            identify and use the latest technologies in their products. We contribute to whole product development as
            well as sub-system development.</p>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
</div>
<div class="card card1" style="width: 18rem;">
    <img src="../../assets/it-consulting-services.jpg" class="card-img-top card-img" alt="...">
    <div class="card-body">
        <h5 class="card-title">IT Services</h5>
        <p class="card-text">We take complete ownership in all areas of Embedded Systems from hardware design, firmware
            design & development, proto build, firmware integration, test & validation and manufacturing tests &
            certifications.

            We develop prototypes that are as reliable as working products. We help our customers engineering teams to
            identify and use the latest technologies in their products. We contribute to whole product development as
            well as sub-system development.</p>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
</div>
<div class="card card1" style="width: 18rem;">
    <img src="../../assets/product.jpg" class="card-img-top card-img" alt="...">
    <div class="card-body">
        <h5 class="card-title">Product</h5>
        <p class="card-text">We take complete ownership in all areas of Embedded Systems from hardware design, firmware
            design & development, proto build, firmware integration, test & validation and manufacturing tests &
            certifications.

            We develop prototypes that are as reliable as working products. We help our customers engineering teams to
            identify and use the latest technologies in their products. We contribute to whole product development as
            well as sub-system development.</p>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
</div>
<div class="card card1" style="width: 18rem;">
    <img src="../../assets/web-application-testing.jpg" class="card-img-top card-img" alt="...">
    <div class="card-body">
        <h5 class="card-title">Web Application Testing</h5>
        <p class="card-text">We take complete ownership in all areas of Embedded Systems from hardware design, firmware
            design & development, proto build, firmware integration, test & validation and manufacturing tests &
            certifications.

            We develop prototypes that are as reliable as working products. We help our customers engineering teams to
            identify and use the latest technologies in their products. We contribute to whole product development as
            well as sub-system development.</p>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
</div>