<div>
    <img src="../../assets/About-us-min.jpg" class="card-img-top card2" alt="...">
    <div class="card-body cbdy">
        <!-- <h5 class="card-title">About Us</h5> -->
        <p class="card-text">Gadgeon is a new-gen technology consultancy and engineering services company enabling
            customer’s digital journey. Gadgeon is dedicated to building solid software systems that creates business
            value for enterprises. Our services include Product engineering, IoT Engineering, Embedded systems –
            hardware & Firmware, Enterprise application – integration & modernization, Full stack development, cloud &
            Mobile app development, data analytics with AI & ML, testing & automation, and Professional services.
            Gadgeon enables our customers to fully focus on high impact business transformation initiatives while the
            extended team from Gadgeon takes care of all engineering and operational activities.

            Gadgeon in the last 10+ years partnered with over 70 customers with successful deployment of more than 170
            projects across USA, Europe, and APAC. Over the years, we have been identified for quality and engineering
            excellence. We serve Enterprises, ISVs, Product companies, and fast growing startups across Digital
            Healthcare, Connected factories, Retail & E-Commerce, Communication, and Home & Building Automation domains.
        </p>

    </div>
</div>
<div class="card card3" style="width: 18rem;">
    <img src="../../assets/vision.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Vission</h5>
      <p class="card-text">To be the most preferred end-to-end Technology Partner Globally.</p>
    </div>
  </div>
  <div class="card card3" style="width: 18rem;">
    <img src="../../assets/mission.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Mission</h5>
      <p class="card-text">Create business value by making sense from connected world</p>
      
    </div>
  </div>
  <div class="card card3" style="width: 18rem;">
    <img src="../../assets/values.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Values</h5>
      <p class="card-text">Engineering Excellence | Passion for Customer Success | Commitment to Employees | Integrity</p>
    </div>
  </div>